/* Variable example
:root {
  --variable-name: value;
}

selector {
  property: var(--variable-name);
}
*/

/*Importing font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap");
:root {
    --font-family: "Montserrat", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #263547;
    --primary-color: #fd4345;
    --secondary-color: #ededed;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #120905;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

@keyframes hide_scrollup {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
}

@keyframes show_scrollup {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

html {
    scroll-behavior: smooth;
}

/*CSS Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}

a:hover {
    color: var(--secondary-color)
}

body{
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(235, 53, 53, 0.564);
}

nav h1 {
    color: var(--secondary-color)
}

nav a{
    color: var(--secondary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display:flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

body {
    background-color: var(--primary-color);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 100rem;
    margin: auto;
    padding: 1rem;
}

.hero img {
    height: 40.5rem;
    width: 60rem;
    padding: 1rem;
}

.bio {
    width: 90rem;
    padding: 2rem;
    border-radius: 6px;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    border-radius: 2rem;
    color: var(--secondary-color);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
    align-items: center;
    animation: typing 3.5 steps(40, end),
        blink-caret .75s step-end infinite;
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: #d9d9d9;
    padding: 1rem 6rem;
    color: var(--bg-color);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: .4rem;
    text-align: center;
}

.skills {
    max-width: 68.75rem;
    margin:auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}


.skills-wrapper img {
    
    padding: 1.25rem;
}

.github-stats {
    display: block;
    width: 100%;
  }

.icon {
    width: 11.875;
    height: 11.25rem;
}


/* .icon-card {
    background-color: var(--secondary-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
} */

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    color: var(--bg-color);
}

.project-pic {
    width: 95%;
    padding: 20px;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    text-shadow: 0 3px 10px #000;
   
}

.project-container {
    text-align: center;
    width: 30%;
    min-height: 99%;
    max-height: 100%;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin)
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--secondary-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-card ul{
    text-decoration:none; 
    text-transform:uppercase; 
    font-size:12px; 
    margin: 10px;
    font-weight:bold; display:block; margin-left:10px;
}

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    padding: 1rem;
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    background-color: var(--secondary-color);
}

.contact-form-container h2 {
    color: var(--bg-color);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--bg-color);

}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size:14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size:0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: .5rem;
    color: var(--bg-color)
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.socials {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -4rem;
    bottom: 50%;
    background-color: #fff;
    border-radius: 2rem;
    border-top-left-radius: 2rem;
    height:8rem;
    width: 7rem;
  }

  
  .socicon {
    right: 1%;
    width: 2rem;
    height: 2rem;
  }

  footer {
    background-color: var(--secondary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }

.scroll-up img{
    border-radius: 25px;
}

.scroll-up {
    position: fixed;
    right: -10%;
    bottom: 3%;
    cursor: pointer;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    transform: rotate(270deg);
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
    
  }

.up-arrow-hide {
    transition: ease 1s;
    right:-10%;
    transform: rotate(270deg);
  }

.up-arrow-show {
    transition: ease 1s;
    right:0.5%;
    transform: rotate(0deg);
}

.project-more-button {
    padding:1.25rem;
    padding-right: 30%;
    padding-left: 30%;
    border-radius: 6rem;
    font-family: "Montserrat";
    font-size: large;
    text-shadow: 4px 4px 5px #000;
    box-shadow: 0px 2px 15px 2px #000;
    background: linear-gradient(to left, var(--primary-color) 60%, #ff2125 10%) right;
    background-size: 300% 100%;
    color: var(--secondary-color);
    transition: all 2s ease
}

.project-more-button:hover {
    background-position: left;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--primary-color); /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

@media screen and (max-width: 720px){
    nav {
        padding: 1.5rem 1rem;
      }
    
      nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 0%;
        width: 100%;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
    
       nav ul li {
        margin: 8px;
      }

      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0%);
      }

    .hero {
        margin-top: -2rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 16.5rem;
        width: 20rem;
    }

    .bio {
        margin-top: -1rem;
        margin-bottom: 1rem;
        width: 20.5rem;
    }

    .up-arrow-show {
        transition: ease 1s;
        right:5%;
        transform: rotate(0deg);
    }

    .socials {
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 3%;
        bottom: 10%;
        background-color: #fff;
        border-radius: 0rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        height:13%;
        box-shadow: 0 3px 10px var(--primary-shadow);
    }

    .more-about {
        margin-top: 1rem;
        padding: 1rem 3.5rem;
    }

    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: justify;
    }

    .icon {
        width: 7rem;
        height: 7rem;
    }

    .projects-container {
        flex-direction: column;
      }
    
      .project-container {
        width: 20.875rem;
      }
    
      .contact-form-container {
        max-width: 23.75rem;
      }

      .github-stats {
        display: none;
      }
}

@media screen and (max-width: 420px) {

  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }

    .socials {
        display: none;
    }
  } 